body {
    background-color: #143741;
    color: #54FFFF;
    margin-top: 15%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #18414d;
    width: 100%;
}

.left {
    display: flex;
    flex-direction: row;
}

.title-text {
    color: #54FFFF;
}

.title {
    color: inherit;
    text-decoration: none;
}

.html {
    color: inherit;
    text-decoration: none;
    margin-left: 20%;
}

.text {
font-family: monospace;
color: #143741;
}

.text ::selection{
    color: red;
    background: red;
}

.login {
 position: fixed;
 top: 0;
 right: 0;
}

#login {
    padding: 30px;
    background-color: #18414d;
    color: #54FFFF;
}

.login-body {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
}



.login-form {
    flex-direction: column;
    padding-right: 10%;
}